@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown {
    @apply flex flex-col gap-2 text-body;
  }
  .markdown a {
    @apply underline;
  }
  .markdown h1 {
    @apply text-h1 font-bold mb-2;
  }
  .markdown h2 {
    @apply text-h2 font-bold mb-2;
  }
  .markdown h3 {
    @apply text-xl font-bold mb-2;
  }
  .markdown h4 {
    @apply text-lg font-bold mb-2;
  }
  .markdown h5 {
    @apply text-base font-bold mb-2;
  }
  .markdown h6 {
    @apply text-sm font-bold mb-2;
  }
  .markdown ul {
    @apply list-disc list-inside;
  }
  .markdown ol {
    @apply list-decimal list-inside;
  }
  .markdown li {
    @apply ml-2;
  }
  .markdown code {
    @apply text-caption font-mono bg-extraLightGrey/50 rounded px-1 py-0.5;
  }
}

/* workaround for broken toast styling in fedibtc/ui library */
.bg-holo-400 {
  background-color: black!important;
}